html
  head
    style.
      .wrapper{
      padding:0;
      width:70%;
      }
      .wrapper .logo{
      text-align:left;
      font-weight:bold;
      }
      .wrapper .linkButton a{
      padding:10px 60px;
      background:#426d9c;
      border:none;
      text-decoration:none;
      cursor:pointer;
      color:white;
      margin-bottom:20px;
      border-radius:8px;
      }
      p{
      text-decoration:none;
      }
  |   
  body
    .wrapper
      
      | &#x9;
      //- p Hello! #{data.email}
      | &#x9;
      .ct-body
        p
          | Please note your Email and password.
        | &#x9;
        
        | &#x9;
        p
          | Email : #{data.email}
          br
          | 
          br
          | Password : #{data.password}
          br
          | 
        | &#x9;
        
